[submodule "submodules/infra"]
	path = submodules/infra
	url = https://github.com/floodlight/infra
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = https://github.com/floodlight/bigcode
[submodule "submodules/loxigen-artifacts"]
	path = submodules/loxigen-artifacts
	url = https://github.com/berlin-open-wireless-lab/loxigen-artifacts.git
